/* font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif; */

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: "Antonio", sans-serif;
  font-weight: 400;
}

h3,
h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

h1 {
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #070724;
  background-image: url("../img/background-stars.svg");
  background-size: 100% 100%;
}
